body {
 top: 0;
  left: 0;
  margin: 0;
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

button {
  margin: 20px 0 5px 0;
  background-color: white;
  border: none;
  letter-spacing: 1.5px;
  font-size: 14px;
  font-weight: bold;
}

button:hover {
  cursor: pointer;
  text-shadow: 0px 0px 1px rgba(1, 1, 1, 0.4);
color: #010101;
}

.app-container {
  width: 100%;
  max-width: 1200px; /* Set your desired maximum width */
  padding: 0 20px; /* Add some padding to the container */
  box-sizing: border-box; /* Include padding and border in the total width */
}

/* Add media queries to adjust styles for different screen sizes */
@media (max-width: 600px) {
  .app-container {
    max-width: 100%;
  }
}

.add-holiday {
  margin: -40px 0 25px 0;
  font-size:22px;
   font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   letter-spacing: 1px;
}

.add-holiday a {
  text-decoration: none;
  color:darkmagenta;
}
.user {
  margin: 10px 0 0 0;
  font-size: 14px;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.header-content {
  display: flex;
  align-items: center; 
  justify-content: center;
}

.footer {
  font-size: 15px;
  margin: 100px 0 40px 0;
}

.logo {
  height: 120px;
  margin: 0 300px 40px 410px  ;
}

.nav {
  margin-left: auto;
}

.posts-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.post {
   text-align: center;
  flex-direction: column;
  align-items: center;
  margin: 40px 16px 0 16px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  width: 260px;
  height: 300px;
  display:inline-flex;
}

.post img {
  width: 260px;
  height: 160px;
  border-radius: 8px;
}

.rating {
  font-size: 1.4em;
  margin: 0;
}

.main {
  font-size: 1em;
}

.post h3 {
  font-size: 1.4em;
  margin-bottom: 0;
}

.post:hover {
  transform: scale(1.01);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}




